<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dnd_offer_listing_data_source" xsi:type="string">Dnd\Offer\Model\ResourceModel\Offer\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Dnd\Offer\Model\ResourceModel\Offer\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">offers</argument>
            <argument name="resourceModel" xsi:type="string">Dnd\Offer\Model\ResourceModel\Offer</argument>
        </arguments>
    </virtualType>
    <virtualType name="Dnd\Offer\ImageUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">dnd/offer/tmp</argument>
            <argument name="basePath" xsi:type="string">dnd/offer</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Dnd\Offer\Controller\Adminhtml\Offer\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Dnd\Offer\ImageUploader</argument>
        </arguments>
    </type>
    <type name="Dnd\Offer\Controller\Adminhtml\Offer\Save">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Dnd\Offer\ImageUploader</argument>
        </arguments>
    </type>
</config>
